.t1{
    font-size: 16px;
    padding: 5px;
    background-color: blue;
    color:white;
}

.td1{
    width: 150px;
}

body{
    width:500px;
    margin:0 auto;
}

.head1{
    width:500px;
}
